.md-accent{
    color:white !important;
}
md-toast{
    position:fixed;
}
body{
    -webkit-overflow-scrolling: touch;
}
md-tooltip{
    @include respond-to(sm){
        display:none;
    }
}
a{
    color:$md-blue-500;
}
a:visited{
    color:$md-blue-600;
}
.md-avatar{
    width:30px;
    height:30px;
    border-radius:200px;
}