.fancy-transition{
    position:absolute;
    z-index:20;
    transition:all 0.3s ease-in-out;
    overflow-y:auto;
    &.fullscreen{
        width:100% !important;
        height:100% !important;
        position:absolute;
    }
    .include-element{
        opacity:0;
        transition:opacity 0.2s ease-in-out;
        &.faded{
            opacity:1;
        }
    }    
}