.fancy-transition{
    position:absolute;
    z-index:20;
    transition:all 0.4s ease-in-out;
    overflow-y:auto;
    will-change: left, top, width, height, position;
    &.fullscreen{
        left:0 !important;
        width:100% !important;
        height:100% !important;
        position:absolute;
    }
    .include-element{
        opacity:0;
        transition:opacity 0.5s ease-in-out;
        &.faded{
            opacity:1;
        }
    }    
}