finish-button{
    position:relative;
    top:-30px;
    .finish{
        transition: background 0.5s ease-in-out;
        & > .finishedIcon{
            left:-100px;
        }
        & > .checkeredIcon{
            left:10px;
        }
        &.finished{
            background:#42bd41;
            & > .finishedIcon{
                left:-17px;
            }
            & > .checkeredIcon{
                left:100px;
            }
            &:hover{
                background:#259b24 !important;
            }
        }
        md-icon{
            color:white !important;
            position:relative;
            transition:left 0.5s ease-in-out;
        }
    }
    
    
}
#proofPhotoPopup{
    padding:10px;
    max-height:none !important;
    md-icon{
        width:16px;
        height:16px;
    }
    .thumbnail{
        margin-top:20px;
        width:100px;
        height:0;
        transition:height 0.5s ease-in-out;
        &.active{
            height:100px;
        }
    }
}
