
.md-error{
    height:50px;
    border-left:4px solid $md-red-400; 
    color:#444;  
    margin:auto;
    display:none;
    .md-error-text{
        transition:width 0.5s ease-in-out;
        text-align: center;
        padding:15px 5px;
        font-size:14px;
        strong{
            letter-spacing: 1px;
        }
    }
    
}