todoentrydetail-header{
    &.landscape{
        .finishedHeader{
            height:400px;
        }
    }
    .close{
        height:30px;
        position:absolute;
        right:10px;
        top:10px;
    }
    .header{
        height:400px;
    }
    .finishedHeader{
        height:85vh;
        background-size:cover;
        position:relative;
        background-position:center;
        .title{
            top:10px;
            left:10px;
        }
        .author{
            top:80px;
            left:10px;
            .avatar{
                margin-right:10px;
            }
        }
        .toolbartext{
            position:absolute;
            width:auto;
            background-color:white;
            color:#2b2b2b;
            padding:10px;
            border-bottom-width:4px;
            border-bottom-style:solid;
            opacity:0;
            margin-left:-10px;
            transition:all 0.5s ease-in-out;
            &.reveal{
                margin-left:0;
                opacity:1;
            }
        }
    }
    .loader{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
    }
}
