todo-list-module{
    height:100%;
    width:100%;
    display:block;
    md-content{
        @include respond-to(sm){
            padding:2px !important;
        }
    }
    md-list{
        @include respond-to(sm){
            padding:0px !important;   
        }
        md-list-item{
           .voteBar{
               .score{
                   margin:auto;
                   @include respond-to(sm){
                        font-size:12px;
                    }
               }
               .vote{
                   min-width:10px !important;
                    @include respond-to(sm){
                        padding:0;   
                    }
                   md-icon{
                       @include respond-to(sm){
                            width:18px;
                       }
                   }
                   
               }
               .upVote{
                   &.active{
                    color:$md-orange-300;
                   }
               }
               .downVote{
                   &.active{
                    color:$md-indigo-300;
                   }
               }
           }
            .profilepicture{
                margin:auto;
                 @include respond-to(sm){
                    width:32px;
                    height:32spx;
                }
            }
            .entryContent{
                margin-left:10px;
                .topLeftInfo{
                    color:$md-grey-600;
                    @include respond-to(sm){
                        font-size:10px;
                    }
                }
                .entryMessage{
                    white-space: pre-wrap;
                    word-break:break-word; 
                    color:$md-grey-800;
                    margin-top:0px;
                    @include respond-to(sm){
                        line-height: 20px;   
                        max-height:40px;
                        overflow:hidden;
                        font-size:13px;
                    }
                    line-height: 25px;
                }
                .entryTitle{
                    cursor:pointer;
                    margin-bottom:5px !important;
                    overflow:hidden;
                    @include respond-to(sm){
                        font-size:17px;
                    }
                }
            }
            .deleteEntryColumn{
                width:20px;
                .md-button{ 
                    width:20px;
                    margin:0 !important;
                    padding:0 !important;
                }
                md-icon{
                    width:14px;
                }
            }
            
        }
    }
}
.entryOptions{
    .entryOption{
        max-height:20px !important;
        md-icon{
            width:10px;
           
        }
        font-size:12px;
        &.deleteEntry{
            color:$md-red-800;
            md-icon{
                 color:$md-red-800;
            }
        }
    }
}