todo-list-module{
    height:100%;
    width:100%;
    display:block;
    md-content{
        @include respond-to(sm){
            padding:2px !important;
        }
    }
    md-list{
        @include respond-to(sm){
            padding:0px !important;   
        }
        md-list-item{
           .voteBar{
               .score{
                   margin:auto;
               }
               .vote{
                   min-width:10px !important;
               }
               .upVote{
                   &.active{
                    color:$md-orange-300;
                   }
               }
               .downVote{
                   &.active{
                    color:$md-indigo-300;
                   }
               }
           }
            .profilepicture{
                margin:auto;
            }
            .entryContent{
                margin-left:10px;
                .topLeftInfo{
                    color:$md-grey-600;
                    @include respond-to(sm){
                        font-size:10px;
                    }
                }
                .entryMessage{
                    white-space: pre-wrap;
                    word-break:break-word; 
                    color:$md-grey-800;
                    margin-top:0px;
                    @include respond-to(sm){
                        line-height: 20px;   
                        max-height:40px;
                        overflow:hidden;
                        font-size:13px;
                    }
                    line-height: 25px;
                }
                .entryTitle{
                    cursor:pointer;
                    margin-bottom:5px !important;
                    overflow:hidden;
                    @include respond-to(sm){
                        font-size:17px;
                    }
                }
            }
            
        }
    }
}