#NewtodoentryCtrl{
    background-color:rgb(92,107,192);
    min-height:100vh;
    .content{
         @include respond-to(sm){
            margin-bottom:0px;
            margin-top:0px;
        }
        @include respond-to(lg){
            animation: slideDown 0.5s ease-in-out forwards;
        }
        @include respond-to(md){
            animation: slideDown 0.5s ease-in-out forwards;
        }
    }
    .md-datepicker-button {
        width: 36px; 
    }
   .angular-google-map-container { 
       height:380px;
       width:calc(100% - 10px);
   }
   .map{
       transition:height 0.5s ease-in-out;
       height:380px;
       &.hidden{
           height:0px !important;
           overflow:hidden;
           padding:0px !important;
           pointer-events: none;
       }
       overflow:hidden;
       width:calc(100% - 10px);
   }
}
.md-datepicker-calendar-pane{
    background-color:white !important;
}