@keyframes slideDown {
    0%   { marign-top:0px}
    100% { margin-top:50px;}
}
#TodoentrydetailCtrl{
    .backgroundUnderlay{
        width:100%;
        height:300px;
        background-color:$md-teal-400;
        position:absolute;
        left:0;
        top:0;
        z-index:0;
    }
    .content{
         @include respond-to(sm){
        
             
            margin-bottom:0px;
            margin-top:0px;
        }
        @include respond-to(lg){
            animation: slideDown 0.5s ease-in-out forwards;
        }
        @include respond-to(md){
            animation: slideDown 0.5s ease-in-out forwards;
        }
        .entryContainer{
            margin-top:0px !important;
            .entryMessage{
                margin-top:30px !important;
                padding-top:0px !important;
                white-space: pre-wrap;
                word-break:break-word; 
            }
        }
    }    
    .todoEntryDetailContent{
        overflow:visible;
    }

}