#TodoentrydetailCtrl{
    .content{
        margin-top:10px;
        min-height:500px;
         @include respond-to(sm){
            margin-bottom:0px;
            margin-top:0px;
        }
    }    
    .header{
        height:100px;
    }
    .finish{
        position:relative;
        top:0px;
        md-icon{
            color:white;
        }
    }
}