
#TodoentrydetailCtrl{
    .backgroundUnderlay{
        width:100%;
        height:300px;
        background-color:$md-teal-400;
        position:absolute;
        left:0;
        top:0;
        z-index:0;
    }
    .content{
         @include respond-to(sm){
        
            margin-bottom:0px;
            margin-top:0px;
        }
        @include respond-to(lg){
            animation: slideDown 0.5s ease-in-out forwards;
        }
        @include respond-to(md){
            animation: slideDown 0.5s ease-in-out forwards;
        }
        .entryContainer{
            margin-top:0px !important;
            .entryMessage{
                margin-top:50px !important;
                margin-bottom:30px;
                padding-top:0px !important;
                white-space: pre-wrap;
                word-break:break-word; 
            }
            .entryInformation{
                margin-top:50px !important;
                margin-bottom:30px;
                margin-left:10px;
            }
            .entryDestination{
                margin-top:50px !important;
            }
        }
        .angular-google-map-container { 
            height:350px;
            width:100%;
        }
        .map{
            height:350px;
            width:100%;
        }
     }    
    .todoEntryDetailContent{
        overflow:visible;
    }

}