<md-tabs  md-selected="data.selectedIndex" class="md-dynamic-height">
    <md-tab>
        <md-tab-label><md-icon md-svg-src="images/icons/verification5.svg" class="s24" ></md-icon></md-tab-label>
        <md-tab-body>
            <todo-list-module></todo-list-module>
        </md-tab-body>
    </md-tab>
    <md-tab>
        <md-tab-label><md-icon md-svg-src="images/icons/speech117.svg" class="s24" ></md-icon></md-tab-label>
        <md-tab-body>
            <message-of-the-day-module></message-of-the-day-module>
        </md-tab-body>
    </md-tab>
    <md-tab>
        <md-tab-label><md-icon md-svg-src="images/icons/image.svg" class="s24" ></md-icon></md-tab-label>
        <md-tab-body>
            <gallery-module></gallery-module>
        </md-tab-body>
    </md-tab>
    <md-tab>
        <md-tab-label><md-icon md-svg-src="images/icons/users81.svg" class="s24" ></md-icon></md-tab-label>
        <md-tab-body>
            <user-module></user-module>
        </md-tab-body>
    </md-tab>
</md-tabs>