    <background-underlay background-color="#26A69A"></background-underlay>

<div id="{{viewId}}" ng-controller="TodoentrydetailCtrl as todoEntrydetail">
    <div flex-offset-xs="0" flex-offset="25" flex="50" flex-xs="100">
        <md-whiteframe class="md-whiteframe-3dp content" layout flex>
            <md-content flex class="todoEntryDetailContent">
                <todoentrydetail-header ng-class="{landscape : landscapeMode}">
                    <finish-button finished="{{selectedEntry.Finished}}"></finish-button>
                </todoentrydetail-header>
                <md-content ng-if="landscapeMode" flex class="entryContainer">
                    <p layout-margin ng-if="selectedEntry.Message" ng-bind="selectedEntry.Message" class="entryMessage"></p>
                    <div class="entryInformation" ng-if="!map || selectedEntry.ApplicationDate">
                        <div>
                            
                            <span ng-if="selectedEntry.ApplicationDate || selectedEntry.Destination">Es findet</span>
                            <span ng-if="selectedEntry.ApplicationDate">
                                <span>am</span>
                                <span ng-bind="selectedEntry.ApplicationDate | date:'dd.MM.yyyy'"></span>
                            </span>
                            <span ng-if="selectedEntry.Destination">
                                <span>in</span>
                                <span class="entryDestination" ng-bind="selectedEntry.Destination"></span>
                                
                            </span>
                            <span  ng-if="selectedEntry.ApplicationDate || selectedEntry.Destination">statt</span>
                        </div>
                    </div>
                    <div class="map" ng-if="map">
                        <ui-gmap-google-map ng-if="map" center='map.center' zoom='map.zoom'>
                            <ui-gmap-markers models="map.markers" coords="'self'" icon="'icon'"></ui-gmap-markers>
                        </ui-gmap-google-map>
                    </div>
                    
                </md-content>
            </md-content>
        </md-whiteframe>
    </div>
</div>