<div id="{{viewId}}" ng-controller="TodoentrydetailCtrl as todoEntrydetail">
    <div class="backgroundUnderlay"></div>
    <div flex-offset-xs="0" flex-offset="20" flex="60" flex-xs="100">
        <md-whiteframe class="md-whiteframe-3dp content" layout flex>
            <md-content flex class="todoEntryDetailContent">
                <todoentrydetail-header ng-class="{landscape : landscapeMode}">
                    <finish-button finished="{{selectedEntry.Finished}}"></finish-button>
                </todoentrydetail-header>
                <md-content ng-if="landscapeMode" flex layout-padding class="entryContainer">
                    <p ng-bind="selectedEntry.Message" class="entryMessage"></p>
                </md-content>
            </md-content>
        </md-whiteframe>
    </div>
</div>