<div flex-offset-xs="0" flex-offset="20" flex="60" flex-xs="100" id="{{viewId}}" ng-controller="TodoentrydetailCtrl as todoEntrydetail">
    <md-whiteframe class="md-whiteframe-1dp content" layout flex>
        <md-content flex>
            <md-toolbar class="md-primary header" layout="row">
                <h1 ng-bind="selectedEntry.Title" layout-margin flex></h1>
            </md-toolbar>
            <finish-button finished="{{selectedEntry.Finished}}"></finish-button>  
            <md-content flex layout-padding class="entryContainer">
                <p ng-bind="selectedEntry.Message" class="entryMessage"></p>
            </md-content>
        </md-content>
    </md-whiteframe>
</div>