<md-toolbar class="md-primary header" layout="column" ng-if="selectedEntry.media == null">
    <h3 ng-bind="selectedEntry.Title" layout-margin flex></h3>
    <md-button ng-click="close()" class="close">
        <md-tooltip>Schliessen</md-tooltip>
        <md-icon md-svg-icon="images/icons/close47.svg"></md-icon>
    </md-button>
    <div ng-transclude flex></div>
</md-toolbar>
<md-toolbar class="md-primary finishedHeader" layout="column" style="background-image:url(api/media/{{selectedEntry.media.Id}})"
ng-if="selectedEntry.media != null">
    <md-whiteframe class="md-whiteframe-1dp toolbartext title" flex="initial">
        <span ng-bind="selectedEntry.Title" layout-margin></span>
    </md-whiteframe>
    <md-whiteframe class="md-whiteframe-1dp toolbartext author" ng-if="selectedEntry.user" flex="initial">
        <span ng-bind="selectedEntry.user.Username" layout-margin></span>
    </md-whiteframe>
    <md-button ng-click="close()" class="close">
        <md-tooltip>Schliessen</md-tooltip>
        <md-icon md-svg-icon="images/icons/close47.svg"></md-icon>
    </md-button>
    <div ng-transclude flex></div>    
</md-toolbar>