<bierbendiger-big-header>
	<div class="content">
		<h1>Bierbendiger</h1>
		<h2>Bier isch liebi, Bier isch lebe</h2>
		<div class="raisedButtons">
			<md-button class="md-raised md-primary" ng-click="showLoginAlert()">
				<md-icon md-svg-src="images/icons/login12.svg"></md-icon>
				Login
			</md-button>
			<md-button class="md-raised md-primary" id="publicVersion" ng-click="redirect('public')">
				<md-icon md-svg-src="images/icons/eyeball15.svg"></md-icon>
				Öffentlichi Version
			</md-button>
		</div>
		
	</div>
</bierbendiger-big-header>
<div class="content">
	<div class="container" class="md-padding" flex="70" flex-offset="15" flex-offset-sm="0" flex-sm="100">
		<h1>Me sind d'Bendiger vom füfte Element</h1>
		<p>dolor sit amet, consectetur adipisicing elit. Voluptatem ut neque delectus nisi magni reprehenderit ipsam? Commodi consectetur labore illo, eos quisquam dolor eveniet doloremque! Quam cum libero aliquid, magni necessitatibus fugiat consequatur quos. Asperiores doloremque distinctio, dolorem autem deleniti.</p>
	</div>
</div>


<ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
